h1{
    color: black;
    background-color: orange;
    text-align: center;
}
h2{
    color: black;
    background-color: orangered;
    text-align: center;
}
h3{
    color: black;
    background-color: orange;
    text-align: center;
}
h4{
    color: black;
    background-color: orangered;
    text-align: center;
}
h5{
    color: black;
    background-color: orange;
    text-align: center;
}
h6{
    color: black;
    background-color: orangered;
    text-align: center;
}
p{text-align: justify;}