body{
    background-color: lightgrey;
}
.icon{
    font-size: 25px;
    padding-top:25px;
}
p{
    text-align: justify;
}
.div1{
    background-color: white;
    width: 15%;
    height: 20%;
    border-radius: 30px;
    padding: 20px;
    margin: 50px;
    float: left;
    box-shadow:5px 5px 20px 15px grey;
}
.yellow{
    width: 200px;
    height: 12px;
    background-color: yellow;
    margin: 0 auto;
}
.div2{
    width: 180px;
    padding: 10px;
}
h1{
    float:left;
    margin-right: 20px;
}
.div3{
    float: left;
    background-color: white;
    width: 15%;
    border-radius: 30px;
    height: 20%;
    padding: 20px;
    margin: 50px;
    box-shadow:5px 5px 20px 15px grey;
}
.blue{
    width: 200px;
    height: 12px;
    background-color:blue;
    margin: 0 auto;
}
.div4{
    float: left;
    background-color:white;
    width: 15%;
    border-radius: 30px;
    height: 20%;
    padding: 20px;
    margin: 50px;
    box-shadow:5px 5px 20px 15px grey;
}
.green{
    width: 200px;
    height: 12px;
    background-color:green;
    margin: 0 auto;
}
.con{
    margin-left: 16%;
    margin-top: 12%;
}