body{
    background-image: url("https://wallpapers.com/images/hd/4k-ultra-hd-retro-wave-lights-lgpt1x4ai064hrfm.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.div1{
    margin: 0 auto;
    padding: 20px;
    width: 25%;
    height: 20em;
    box-shadow:5px 5px 20px 15px black;
    background-color:transparent;
    color: white;
    margin-top: 100px;
}
button{
    background-color: rgb(241, 95, 95);
    width: 300px;
    height: 40px;
    border-radius: 10px;
    color: white;
}
.div2{
    margin:20px 0 0 30px;
}
h1{
    text-align: center;
}
input{
    margin-bottom: 15px;
}
h4{
    text-align: center;
}